{% include "header.html" %}

<header class="masthead"
        style="background-image: url({{ url_for('static', filename='img/cedric-black-white.jpg')}}); margin-bottom: 10px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-8 mx-auto">
                <div class="site-heading">
                    <h1>Cedric Benonga</h1>
                    <span class="subheading"><b>I'm a <u>Pro</u>fessional Web Developer</b></span>
                </div>

                <div class="row">
                    <ul class="list-inline text-center col-lg-8 col-md-10 mx-auto" style="padding-top: 50px;">
                        <li class="list-inline-item">
                            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/cedric_benonga">
                <span class="fa-stack fa-md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" rel="noopener noreferrer"
                               href="https://web.facebook.com/benonga.cedric/">
                <span class="fa-stack fa-md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" rel="noopener noreferrer"
                               href="https://www.linkedin.com/in/cedric-benonga-0179b5199/">
                <span class="fa-stack fa-md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" rel="noopener noreferrer"
                               href="https://github.com/CedricBenonga?tab=repositories">
                <span class="fa-stack fa-md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<p class="copyright text-muted" style="text-align: center;">Copyright &copy; Cedric Benonga Website 2023</p>
