{% include "header.html" %}

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/more.jpg')}}">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>More Work</h1>
                    <span class="subheading">Here are more of what I've been working on.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row skills-content">
    <div class="list-inline text-center col-lg-12 col-md-12 mx-auto">

        <div class="list-inline-item" style="padding: 30px;">
            <div>
                <a href="#">
                    <div><img src="static/img/blog-users.jpg" class="work-img" style="width: 200px; height: 200px;">
                    </div>
                    <h6>Blog</h6>
                </a>
            </div>
        </div>

        <div class="list-inline-item" style="padding: 30px;">
            <div>
                <a href="#">
                    <div><img src="static/img/cafe-api.jpg" class="work-img" style="width: 200px; height: 200px;"></div>
                    <h6>Cafe API</h6>
                </a>
            </div>
        </div>

        <div class="list-inline-item" style="padding: 30px;">
            <div class="">
                <a href="#">
                    <div><img src="static/img/coffee-wifi.jpg" class="work-img" style="width: 200px; height: 200px;">
                    </div>
                    <h6>Coffee & Wifi</h6>
                </a>
            </div>
        </div>

        <div class="list-inline-item" style="padding: 30px;">
            <div class="">
                <a href="#">
                    <div><img src="static/img/price-checker.jpg" class="work-img" style="width: 200px; height: 200px;">
                    </div>
                    <h6>e-Price Checker</h6>
                </a>
            </div>
        </div>

        <div class="list-inline-item" style="padding: 30px;">
            <div class="">
                <a href="#">
                    <div><img src="static/img/top-movie.jpg" class="work-img" style="width: 200px; height: 200px;">
                    </div>
                    <h6>Top Movies</h6>
                </a>
            </div>
        </div>

        <div class="list-inline-item" style="padding: 30px;">
            <div class="">
                <a href="#">
                    <div><img src="static/img/automation.jpg" class="work-img" style="width: 200px; height: 200px;">
                    </div>
                    <h6>Job automation</h6>
                </a>
            </div>
        </div>

    </div>
</div>

{% include "footer.html" %}