{% include "header.html" %}

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/more.jpg')}}">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>More Work</h1>
                    <span class="subheading">Here are more of what I've been working on.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row skills-content">
    <div class="list-inline text-center col-lg-20 col-md-20 mx-auto">

        {% for work in works: %}

            <div class="list-inline-item" style="padding: 30px;">
                <div>
                    <a href="#">
                        <div><img src={{work[0]}} class="work-img" style="width: 200px; height: 200px;">
                        </div>
                        <h6>{{work[1]}}</h6>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{% include "footer.html" %}